body{
    background: url("https://s3-us-west-2.amazonaws.com/staticresources123/Article%20images/maintenance.png");
    background-size: cover;
}
div{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 80px;
}